<br><p>Made with 💖 by <%= owner.username %>#<%= owner.discriminator %></p><br>
<style>
    footer {
        bottom: 0;
        width: 100%;
        color: white;
        background-color: #323232;
        text-align: center;
        position: fixed;
        height: 60px;
        margin-top: -60px;
    }
    body {
        margin-bottom: 40px;
    }
</style>
